.react-slideshow-container {
	margin-top: 50px;
}

.bannerImg {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background-size: cover;
	height: 55vh;
	margin: 0 2.7%;
}

.react-slideshow-container .default-nav {
	margin: 15px;
	height: 100%;
	width: 2.7%;
	background-color: rgba(179, 179, 179, 0.7) !important;
	margin: unset;
	border-radius: unset;
}

.react-slideshow-container .default-nav:hover {
	background-color: rgba(219, 219, 219, 0.7) !important;
}

.each-slide-effect span {
	font-size: 20px;
	padding: 10px 20px;
	background: #efefef;
	text-align: center;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
}

.bannderTag {
	color: black;
	font-size: 20px;
	padding: 10px 20px;
	background: #efefef;
	text-align: center;
	border-radius: 5px 5px 0 0;
}

/* ...........slider_End............. */

#myProjects,
#myInternships {
	padding: 60px 0 45px 0;
}

.mainTitle {
	width: 50%;
	margin: auto;
	padding: 10px 0px !important;
	background-color: #2a2b2d;
	box-shadow: 0px 16px 32px 0px rgba(18, 18, 18, 0.2);
	border-radius: 5px;
	font-size: 23px;
	/* color: #f1f1f1; */
	color: rgb(222, 75, 155);
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
}

#logoMoblie {
	display: none;
}

.text_img {
	justify-content: space-between;
}

.clcikHere {
	font-style: italic;
}

.clcikHere:hover {
	text-decoration: underline;
}

#subTitle {
	font-size: 25px;
	border-radius: 2px;
	background-color: #242526;
	/* color: rgb(136, 115, 255); */
	text-align: center;
	padding: 3px 0 6px 0;
	margin-top: 50px;
	margin-bottom: 20px;
}

.technologies {
	display: flex;
	align-items: baseline;
	justify-content: space-around;
	text-align: center;
	margin: 30px auto;
}

.technologies img:hover {
	transform: scale(1.1);
	transition-duration: 0.3s;
}

.technologieImg {
	height: 60px;
}

.technologieImgWhite {
	background-color: white;
	border-radius: 5px;
	height: 58px;
	aspect-ratio: 1;
	padding: 5px;
}

.accordionTitle {
	font-weight: bold;
	font-size: 20px;
}

.accordionImg {
	width: 50%;
}

.DesignsBased {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(calc(33% - 10px), 1fr));
	gap: 10px;
}

.designs {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

/* ...............................mWeb............................. */

@media screen and (max-width: 1066px) {
	.technologieImg {
		height: 50px;
	}

	.technologieImgWhite {
		height: 48px;
	}
}

@media screen and (max-width: 770px) {
	.bannerImg {
		margin: unset;
		height: 50vh;
	}

	.react-slideshow-container .default-nav {
		width: unset !important;
		height: 30px;
		width: 30px !important;
		border-radius: 50%;
		margin: 15px;
	}

	.each-slide-effect span {
		font-size: 15px;
	}

	#subTitle {
		font-size: 20px;
	}

	.technologies {
		font-size: 15px;
		margin: 10px auto;
		justify-content: space-between;
	}

	.technologieImg {
		height: 38px;
	}

	.technologieImgWhite {
		height: 36px;
	}

	.accordionImg {
		width: 95%;
	}
}

@media screen and (max-width: 425px) {
	.react-slideshow-container .default-nav {
		margin: 10px;
	}

	.bannerImg {
		height: 30vh;
	}

	.mainTitle {
		width: 70%;
	}

	.accordionImg {
		width: 100%;
	}

	.technologies {
		font-size: 12px;
		width: 95%;
	}

	.technologieImg {
		height: 30px;
	}

	.technologieImgWhite {
		height: 28px;
		padding: 4px;
	}
}
