#content {
    margin-top: 70px;
    color: #f1f1f1;
}

/*-----blank page animation-------*/
#myIntro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(32, 30, 30, 0.3);
    color: #f1f1f1;
    box-shadow: 0px 16px 32px 0px rgba(18, 18, 18, 0.2);
    border-radius: 5px;
    margin: 20px auto;
    margin-top: 80px;
    padding: 20px;
    width: 90%;
    height: 50px;
}

.line-1 {
    width: 690px;
    border-right: 2px solid rgba(255, 255, 255, .75);
    white-space: nowrap;
    overflow: hidden;
    font-size: 50px;
    font-weight: 900;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 2px;
}

.line-1 b {
    color: #5cbbce;
}

.line-1 a {
    color: #f3246f;
}

/*----------------Animation--------------- */
.anim-typewriter {
    animation: typewriter 4s steps(30) normal,
        blinkTextCursor .7s ease-in-out infinite
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 690px;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

/*----------------Animation_End--------------- */
.img_text {
    display: flex;
}

#logoMoblie {
    display: none;
}

.text_img {
    justify-content: space-between;
}

.img_text img {
    border-radius: 5px;
}

#link {
    margin: 5%;
    display: flex;
}

#nextDiv {
    margin-top: 20px;
}

#subTitle {
    font-size: 25px;
    border-radius: 2px;
    background-color: #242526;
    text-align: center;
    padding: 3px 0 6px 0;
    margin-top: 7%;
    margin-bottom: 20px;
}

#technologiesLogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#reactLogo,
#javaScriptLogo {
    height: 60px;
}

#nodeJsLogo,
#mongoDbLogo {
    background-color: white;
    height: 50px;
    padding: 5px;
}

#technologiesLogo img:hover {
    transform: scale(1.10);
    transition-duration: 0.2s;
}

/* ...............................mWeb............................. */
@media screen and (max-width: 1139px) {

    #reactLogo,
    #javaScriptLogo {
        height: 50px;
    }

    #nodeJsLogo,
    #mongoDbLogo {
        height: 40px;
    }
}

@media screen and (max-width: 1066px) {
    #subTitle {
        margin: 5% 0 15px 0;
    }
}

@media screen and (max-width: 1015px) {
    #subTitle {
        margin: 10px 0 15px 0;
    }
}

@media screen and (max-width: 750px) {
    #myIntro {
        width: 85%;
        height: 40px;
    }

    /*----------------mWeb_Animation--------------- */
    .line-1 {
        font-size: 24px;
        width: 350px;
        letter-spacing: 1.5px;
    }

    .anim-typewriter2 {
        width: 285px;
    }

    @keyframes typewriter {
        from {
            width: 0;
        }

        to {
            width: 350px;
        }
    }

    /*----------------mWeb_Animation_End--------------- */
    .img_text {
        display: block;
        text-align: center;
    }

    #logoMoblie {
        display: inline;
        justify-content: center;
    }

    #logoPc {
        display: none;
    }

    #technologiesLogo {
        font-size: 15px;
    }

    #subTitle {
        margin: 30px 0 20px 0;
        padding: 3px;
    }

    #reactLogo,
    #javaScriptLogo {
        height: 38px;
    }

    #nodeJsLogo,
    #mongoDbLogo {
        height: 30px;
        padding: 4px;
    }
}