#loaderBack {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: bisque;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
}

#content {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* .......................backgroundImg......................... */
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }

    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }

    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    margin: auto;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-color: #242526;
}

.bgTop {
    z-index: 3;
    opacity: 0.5;
}

.bgMiddle {
    z-index: 2;
    opacity: 0.75;
}

.bgBottom {
    z-index: 1;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
    background-image: url("../img/wave-top.png");
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
    background-image: url("../img/wave-mid.png");
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
    background-image: url("../img/wave-bot.png");
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

/* .......................backgroundImg_end......................... */

#welcome {
    font-size: 70px;
    font-weight: 800;
    text-shadow: 2px 2px 4px #000000;
    color: #f1f1f1;
    letter-spacing: 1px;
}

#welcome span {
    color: rgba(255, 0, 0, .8);
}

#myName {
    font-size: 40px;
    font-weight: 500;
    color: white
}

#myName span {
    color: rgba(255, 0, 0, .8);
}

#iAm {
    font-size: 40px;
    color: #f1f1f1;
    text-shadow: 2px 2px 4px #000000;
}

#myPoints {
    font-size: 40px;
    color: #f1f1f1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 2px 2px 4px #000000;
}

#thankMsg {
    font-size: 50px;
    font-weight: 500;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

/* ...............................mWeb............................. */
@media screen and (max-width: 784px) {
    #welcome {
        font-size: 50px;
        letter-spacing: 2px;
    }

    #myName {
        font-size: 30px;
    }

    #myPoints {
        font-size: 30px;
    }

    #thankMsg {
        font-size: 22px;
        letter-spacing: 1px;
        text-align: center;
        width: 330px;
    }
}

@media screen and (max-width: 594px) {
    #welcome {
        font-size: 40px;
        width: 350px;
        text-align: center;
    }

    #myName {
        width: 330px;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    #myPoints {
        font-size: 25px;
    }
}