.react-slideshow-container {
    margin: 50px 0;
}

.bannerImg {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;
    height: 55vh;
    margin: 0 2.7%;
}

.react-slideshow-container .default-nav {
    margin: 15px;
    height: 100%;
    width: 2.7%;
    background-color: rgba(179, 179, 179, 0.7) !important;
    margin: unset;
    border-radius: unset;
}

.react-slideshow-container .default-nav:hover {
    background-color: rgba(219, 219, 219, 0.7) !important;
}

.each-slide-effect span {
    font-size: 20px;
    padding: 10px 20px;
    background: #efefef;
    text-align: center;
    border-radius:  5px 5px 0 0;
    cursor: pointer;
  }
/* ...........slider_End............. */

.mainTitle {
    width: 50%;
    margin: 20px auto;
    padding: 10px 0px !important;
    background-color: #2A2B2D;
    box-shadow: 0px 16px 32px 0px rgba(18, 18, 18, 0.2);
    border-radius: 5px;
    font-size: 23px;
    color: #f1f1f1;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.img_text {
    display: flex;
}

#logoMoblie {
    display: none;
}

.text_img {
    justify-content: space-between;
}

.img_text img {
    border-radius: 5px;
}

.pointSection {
    margin: 0px 0 0 10px;
    padding-left: 10px;
    text-align: left;
}

.aboutPoints {
    margin: 20px 10px;
    display: list-item;
    list-style-type: square;
}

#link {
    margin: 30px 0;
    text-align: center;
}

#link a:hover {
    transition-duration: 0.2s;
    color: #9fd1db;
}

#nextDiv {
    margin-top: 20px;
}

#technologies {
    margin: 20px 0;
    width: 90%;
    margin: 30px auto;
}

#subTitle {
    font-size: 25px;
    border-radius: 2px;
    background-color: #242526;
    text-align: center;
    padding: 3px 0 6px 0;
    margin-top: 50px;
    margin-bottom: 20px;
}

#technologiesLogo {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    text-align: center;
}

#reactLogo, #javaScriptLogo,
#mySqlLogo, #cssLogo {
    height: 60px;
}

#nodeJsLogo,
#mongoDbLogo {
    background-color: white;
    border-radius: 5px;
    height: 58px;
    padding: 6px 7px;
}

#mySqlLogo {
    background-color: white;
    border-radius: 5px;
}

#technologiesLogo img:hover {
    transform: scale(1.10);
    transition-duration: 0.2s;
}

.accordionTitle {
    font-weight: bold;
    font-size: 20px;
}

.accordionImg {
    width: 50%;
}

/* ...............................mWeb............................. */

@media screen and (max-width: 1066px) {

    #reactLogo, #javaScriptLogo,
    #mySqlLogo, #cssLogo {
        height: 50px;
    }

    #nodeJsLogo,
    #mongoDbLogo {
        height: 48px;
    }
}

@media screen and (max-width: 770px) {
    .bannerImg {
        margin: unset;
        height: 50vh;
    }

    .react-slideshow-container .default-nav {
        width: unset !important;
        height: 30px;
        width: 30px !important;
        border-radius: 50%;
        margin: 15px;
    }

    .each-slide-effect span {
        font-size: 15px;
    }

    .pointSection {
        margin: 30px 0 50px 10px;
    }

    .img_text {
        display: block;
        text-align: center;
    }

    #logoMoblie {
        display: inline;
        justify-content: center;
    }

    #logoPc {
        display: none;
    }

    #technologies {
        margin: 10px auto;
    }

    #subTitle {
        font-size: 20px;
    }

    #technologiesLogo {
        font-size: 15px;
        justify-content: space-between;
    }

    #reactLogo, #javaScriptLogo,
    #mySqlLogo, #cssLogo {
        height: 38px;
    }

    #nodeJsLogo,
    #mongoDbLogo {
        height: 38px;
        padding: 4px;
    }

    .accordionImg {
        width: 95%;
    }
}


@media screen and (max-width: 425px) {
    .react-slideshow-container .default-nav {
        margin: 10px;
    }

    .bannerImg {
        height: 30vh;
    }

    .accordionImg {
        width: 100%;
    }

    #technologiesLogo {
        font-size: 12px;
        justify-content: space-between;
    }

    #reactLogo, #javaScriptLogo,
    #mySqlLogo, #cssLogo {
        height: 30px;
    }

    #nodeJsLogo,
    #mongoDbLogo {
        height: 28px;
        padding: 4px;
    }
}