#projectGrid {
	margin: 0 auto 40px;
	box-sizing: border-box;
	width: 92%;
	padding: 10px;
	color: #f4f4f3;
	/* box-shadow: 0px 16px 32px 0px rgba(18, 18, 18, 0.2); */
	font-size: 15px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30%, 10fr));
	gap: 50px 30px;
}

.project {
	background-size: cover;
	background-position: center;
	aspect-ratio: 16/10;
	border-radius: 10px;
	border: 1px #2f3032 solid;
	/* box-shadow: 0px 16px 32px 0px rgba(18, 18, 18, 0.2); */
	transition-duration: 1s;
	/* box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8); */
	display: flex;
	align-items: flex-end;
	user-select: none;
	cursor: pointer;
}

.project:hover {
	transform: scale(1.1);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

#projectGrid .project.dimmed {
	filter: grayscale(1) brightness(0.5);
}

#projectGrid .project.highlighted {
	filter: unset;
}

.projectContent {
	width: 100%;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 10px;
	border-radius: 0 0 10px 10px;
	display: none;
}

.projectTitle {
	font-size: 20px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.project:hover .projectContent {
	display: flex;
}

.projectContent img:hover {
	transform: scale(1.25);
	transition-duration: 0.7s;
}

/* ..................Modal..................... */
.react-responsive-modal-container {
	overflow: hidden;
}

.react-responsive-modal-modal {
	background-color: #2a2b2d;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	color: white;
	max-width: 60%;
	max-height: 80%;
	overflow: auto;
	padding: unset;
}

.react-responsive-modal-modal::-webkit-scrollbar {
	display: none;
}

.modal-bar {
	position: sticky;
	top: 0;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ccc;
	padding: 5px 10px 5px 15px;
	box-sizing: border-box;
	font-size: 20px;
	font-weight: bold;
	background-color: #2a2b2d;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.modalTile {
	display: flex;
	align-items: center;
	outline: unset;
}

.modalTile img {
	margin: 0 10px;
}

.modalTile:hover {
	text-decoration: underline;
}

.closeBtn {
	cursor: pointer;
	padding: 0 10px;
	font-size: 35px;
}

.modal-content {
	padding: 10px;
	/* text-align: center; */
	box-sizing: border-box;
	overflow: auto;
}

.react-slideshow-container {
	max-width: 100%;
	/* max-height: 90%; */
}

.sliderImg {
	aspect-ratio: 16/9;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background-size: cover;
}

.react-slideshow-container .default-nav {
	margin: 15px !important;
	margin: unset;
	background-color: unset !important;
	fill: white;
	height: 50px;
	width: 50px;
}

.react-slideshow-container + ul.indicators {
	top: 50%;
	margin-top: 10px;
}

.react-slideshow-container + ul.indicators li {
	padding: 0 10px;
}

.react-slideshow-container + ul.indicators .each-slideshow-indicator:before {
	background: white;
	height: 10px;
	width: 10px;
}

@media screen and (max-width: 1000px) {
	#projectGrid {
		grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
	}

	.react-responsive-modal-modal {
		max-width: 80%;
		max-height: 80%;
	}
}

@media screen and (max-width: 600px) {
	#projectGrid {
		grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
		gap: 15px;
	}

	.react-responsive-modal-modal {
		max-width: 90%;
	}
}
